In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [39]:
df = pd.read_csv('iris.csv')
df.head(5)

   seiko  swiss _army  positif  mirage ediface
0    5.0          6.0      3.0     0.0       4
1    4.0          3.0      4.0     2.0       1
2    7.0          3.0      1.0     0.0       4
3    6.0          1.0      5.0     3.0       5
4    5.0          6.0      4.0     1.0       1